<!DOCTYPE html>
<html>
  <head>
    <title>HEATHEN</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body class="application">
    <h4>Convert the Heathens!</h4>
    <form action="<%= url('/convert') %>" method="POST" enctype="multipart/form-data">
      <div id="input_type">
        <label>
          <input type="radio" name="input_type" value="file" checked="true" /> File
        </label>
        <label>
          <input type="radio" name="input_type" value="url" /> URL
        </label>
      </div>
      <div id="file">
        <label>File:</label>
        <input type="file" name="file"/>
      </div>
      <div id="url">
        <label>URL:</label>
        <input type="text" name="url"/>
      </div>
      <div id="actions">
        <label>Action:</label>
        <select name="action">
          <%= Heathen::ACTIONS.map { |p| %{<option value="#{p}">#{p.gsub("_", " ")}</option>} }.join("\n") %>
        </select>
      </div>
      <div id="languages" style="display: none">
        <label>Language:</label>
        <select name="language">
          <%= Heathen::LANGUAGES.map { |p| %{<option value="#{p}">#{p.gsub("_", " ")}</option>} }.join("\n") %>
        </select>
      </div>
      <hr />
      <input type="submit" value="Convert" />
    </form>

    <script language="javascript">
        $(document).ready(function() {

        $('input[name=\"input_type\"]').on('change', function() {
          switch($(this).val()) {
            case "file":
              $("#file").show();
              $("#url").hide();
              $("#url").val('');
              break;

            case "url":
              $("#file").hide();
              $("#url").show();
              $("#file").val('');
              break;
          }
        });

        $("#url").hide();

        $("#actions").on("change", "select", function(e) {
          $("#languages").toggle($(this).val() == "ocr");
        });
      });
    </script>
  </body>
</html>
