<form action="<%= url('/convert') %>" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <div id="input_type" class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="radio" name="input_type" value="file" checked="true" /> File
      </label>
      <label class="checkbox">
        <input type="radio" name="input_type" value="url" /> URL
      </label>
    </div>
  </div>
  <div id="file" class="control-group">
    <label class="control-label">File:</label>
    <div class="controls">
      <input type="file" name="file" placeholder="File" />
    </div>
  </div>
  <div id="url" style="display: none" class="control-group">
    <label class="control-label">URL:</label>
    <div class="controls">
      <input type="text" name="url" placeholder="URL" disabled="disabled" />
    </div>
  </div>
  <div id="actions" class="control-group">
    <label class="control-label">Action:</label>
    <div class="controls">
      <select name="action">
        <%= Heathen::ACTIONS.map { |p| %{<option value="#{p}">#{p.gsub("_", " ")}</option>} }.join("\n") %>
      </select>
    </div>
  </div>
  <div id="languages" style="display: none" class="control-group">
    <label class="control-label">Language:</label>
    <div class="controls">
      <select name="language">
        <%= Heathen::LANGUAGES.map { |p| %{<option value="#{p}">#{p.gsub("_", " ")}</option>} }.join("\n") %>
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Convert" class="btn" />
    </div>
  </div>
</form>

<script language="javascript">
    $(document).ready(function() {

    $('input[name=\"input_type\"]').on('change', function() {
      switch($(this).val()) {
        case "file":
          $("#file").show().find("input[name=\"file\"]").prop("disabled", false);
          $("#url").hide().find("input[name=\"url\"]").prop("disabled", true);
          $("#url").val('');
          break;

        case "url":
          $("#file").hide().find("input[name=\"file\"]").prop("disabled", true);
          $("#url").show().find("input[name=\"url\"]").prop("disabled", false);
          $("#file").val('');
          break;
      }
    });

    $("#url").hide();

    $("#actions").on("change", "select", function(e) {
      if($(this).val() == "ocr") {
        $("input[name=\"input_type\"][value=\"file\"]").prop("checked", true).trigger("change");
      }

      $("#input_type").toggle($(this).val() != "ocr");
      $("#languages").toggle($(this).val() == "ocr");
    });
  });
</script>
