!!!
%html
  %head
    %meta{ content:"text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
    :css
      a {
        color: #08c;
        text-decoration: none;
      }
  %body{ style:"font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #333; line-height: 20px;" }
    %div{ style: "background-color: #1b1b1b; height: 44px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;" }
      %div{ style: "padding-top: 10px; padding-left: 20px;" }
        %i{ style: "background: url('https://webapps.ifad.org/heathen/assets/images/logo.png') no-repeat center center black; float: left; width: 24px; height: 24px; margin-right: 5px; display: block;" }
        %span{ style: "font-size: 20px; color: #777; vertical-align: middle; margin-left 10px;" } IFAD | Document Converter
    %div
      %p
        Dear customer:
      %p
        Please find attached the results of the conversion request sent to the automated document conversion service.
      %ul
      - documents.each do |doc|
        %li{ style: "list-style-type: none; padding-left: 20px;" }
          %span{ style: "font-weight: bold;" }= doc[:orig_filename]
          - if doc[:content].nil?
            &nbsp;was not converted (#{doc[:error]})
          - else
            &nbsp;was converted successfully
      %p
      %p
        Regards,
        %br
        %span Document converter
